<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	  <script src="/javascripts/jquery-3.4.1.min.js" type="text/javascript"></script>
	  <script src="/javascripts/mqttws.js" type="text/javascript"></script>
	  <script src="/javascripts/jquery.timepicker.min.js" type="text/javascript"></script>
	  <script src="/javascripts/jquery.json.min.js" type="text/javascript"></script>

      	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.timepicker.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-clockpicker.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-clockpicker.min.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
                <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.0/css/mdb.min.css" rel="stylesheet">
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144012931-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144012931-2');
</script>

		<title>Primal Fear Human NPC Leaderboards</title>
<body>
    	<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

<!-- Side Navigation -->
<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
  <h1 class="w3-xxxlarge w3-text-theme">Side Navigation</h1>
  <button class="w3-bar-item w3-button" onclick="w3_close()">Close <i class="fa fa-remove"></i></button>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
</nav>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i> 
  <div class="w3-center">
  <h4>PRIMAL FEAR HUMAN NPC LEADERBOARDS</h4>

    <div class="w3-padding-32">
      <a href=https://www.patreon.com/bePatron?u=22289294> <img src="https://i.imgur.com/kPnyHDK.png"></a></img><br><br>
      <a href=https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GUJ2DSGMJ9KXJ&source=> <img src="https://i.imgur.com/HVurgEh.png"></a></img>
    </a>
  </br>
    </div>
  </div>
</header>

<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
      <header class="w3-container w3-theme-l1"> 
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">×</span>
        <h4>You just had to do it didn't you...</h4>
        <h5>Heres a magic trick.....</i></h5>
      </header>
      <div class="w3-padding">
        <p>Cool huh? Ok, enough mucking around</p>
        <p>Todays Weather Forecast ... just jokes this button is really useless....</p>
        <p></p>
      </div>
      <footer class="w3-container w3-theme-l1">
        <p>Brought to you by multipl3x</p>
      </footer>
    </div>
</div>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>NPC Kill Stats</h3><br>
<table class="w3-table">
<tr>
  <th>NPC Name - Server</th>
  <th>Kills</th>
</tr>
<tr>
  <% for (var i = 0; i < _npcs[0].length; i++) { %>
  <tr>
<td><%= _npcs[0][i].name %></td>
<td><%= _npcs[0][i].kills %></td>
</tr>
<% } %>
</tr>
</table>
</div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Highest Player Reputation</h3><br>
<table class="w3-table">
<tr>
  <th>Player Name - Server</th>
  <th>Reputation</th>
</tr>
<tr>
  <% for (var i = 0; i < _playrep[0].length; i++) { %>
  <tr>
<td><%= _playrep[0][i].name %></td>
<td><%= _playrep[0][i].reputation %></td>
</tr>
<% } %>
</tr>
</table>
</div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Most NPC's Killed</h3><br>
  <table class="w3-table">
<tr>
  <th>Player Name - Server</th>
  <th>Kills</th>
</tr>
<tr>
  <% for (var i = 0; i < _playkills[0].length; i++) { %>
  <tr>
<td><%= _playkills[0][i].name %></td>
<td><%= _playkills[0][i].kills %></td>
</tr>
<% } %>
</tr>
</table>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>NPC Kill Feed</h3><br>
  <ul class="w3-ul">
    <% for (var i = 0; i < _npcfeedkills[0].length; i++) { %>
  <li><%= _npcfeedkills[0][i].name %> Killed <%= _npcfeedkills[0][i].killed %></li>
<% } %>
</ul>
</table>
</div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Highest NPC Tribe Networth</h3><br>
<table class="w3-table">
<tr>
  <th>Tribe Name - Server</th>
  <th>Networth</th>
</tr>
<tr>
  <% for (var i = 0; i < _npcworth[0].length; i++) { %>
  <tr>
<td><%= _npcworth[0][i].name %></td>
<td><%= _npcworth[0][i].networth %></td>
</tr>
<% } %>
</tr>
</table>
</div>
</div>
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Player Kill Feed</h3><br>
  <ul class="w3-ul">
    <% for (var i = 0; i < _playfeedkills[0].length; i++) { %>
  <li><%= _playfeedkills[0][i].name %> Killed <%= _playfeedkills[0][i].killed %></li>
<% } %>
</ul>
</table>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
	<div class="column">
      <div id="messages"></div>
    </body>
</html>

